.homepage {
  background-image: url('../assets/images/mobile-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}



@media (min-width: 640px) {
  .homepage {
    background-position: 50% 40%;
  }
}

@media (min-width: 768px) {
  .homepage {
    background-position: 10% bottom;
    background-size: cover;
    background-image: url('../assets/images/background-main.webp');
  }
.content{
    margin-right: 10%;
  }
}

@media (min-width: 1536px) {
  .homepage {
    background-position: 50%;
  }
  .content{
    margin: 0;
  }
}


.content {
    max-width: 1920px;
  width: 100%;
  min-height: 1080px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.registration{
    z-index: 10;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 580px;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(6px);
}

@media (max-width: 1200px) {
    .registration {
        width: 426px;
    }
}
